@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../node_modules/animate-scss/animate.scss';
// @import './fonts/danielbd.ttf';


@font-face{
	font-family: myriad;
	src: url('./fonts/Myriad.ttf');
}


*{
	font-family: myriad;
	
}


//PASS

.center{
	position: absolute;
	top: 25%;
	left:25%;
}

.relat{
	position: relative;
	left: 25%;
}

.color{
	color: tomato;
	animation: 1s bounceInDown;
}

input{
	animation: 1s rotateInUpLeft;
}

.color-text{
		color: red;
}

.passB{
	position: relative;
	top:5%;
	left: 70%;
	animation: 1s slideOutDown;
}


//TASK

.task{
	position: relative;
}

.alert{
	animation: 1s fadeInLeft;
}

.taskB{
	position: absolute;
	animation: 1s fadeInRigth;
}