@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../node_modules/animate-scss/animate.scss';
@import './fonts/danielbd.ttf';


@font-face{
	font-family: daniel;
	src: url('./fonts/danielbd.ttf');
}


*{
	font-family: daniel;
	
}

.center{
	position: absolute;
	top: 25%;
	left:25%;
}

.relat{
	position: relative;
	left: 25%;
}

.blue{
	color: tomato;
	animation: 1s bounceInUp;
}

input{
	animation: 1s rotateInUpLeft;
}

.color-text{
		color: red;
}

button{
	position: relative;
	top:1%;
	left: 70%;
	animation: 1s slideOutDown;
}

.alert{
	animation: 1s rollIn;
}